<a href="https://colab.research.google.com/github/mazette04/OOP_58002/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

for loop through string

In [3]:
for x in "week":
  print(x)

w
e
e
k

for loop using break statement

In [4]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

to display only Thursday

In [5]:
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

range() function

In [6]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [9]:
for x in range(2,6+1,2):
  print(x)

2
4
6

Nested Loop

In [10]:
adjective = ['red','big','tasty']
fruits = ['apple','banana','cherry']
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

while loop

In [12]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

while loop using break statement

In [13]:
i = 1
while i<=6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

display only 3

In [15]:
i = 1
while i<=6:
  if i==3:
    print(i)
    break
  i+=1

3