Python Indentation

In [3]:
if 5>2:
  print("five is greater than two")

five is greater than two

Python comment

In [4]:
#This is a comment
print("Hello, world")

Hello, world

Naming variable

In [12]:
#Single variable with single value
x = 1
y = 2
print(x)
print(y)

#Multiple variable with a single value

a = b = c = "Maria"
print (a)
print(b)
print(c)

#Multiple variable with multiple values

e, f,g=1,2,3
print(e)
print(f)
print(g)

1
2
Maria
Maria
Maria
1
2
3

Single or Double

In [13]:
v = "Sally"
u = 'Sally'
print (u)
print(v)

Sally
Sally

Casting

In [15]:
p = float(5)
p

5.0

Type() function

In [17]:
f = "Ana"
g = 4.56

print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

Concatenation using + symbol

In [22]:
k = "enjoying"
j = "Python programming is"
print("Python programming is" +" " + k)
print(j+k)

Python programming is enjoying
Python programming isenjoying